## GETTING STARTED WITH PANDAS

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [ ]:
df = pd.DataFrame(data = randn(5,4), index = ['A', 'B','C', 'D', 'E'], columns = ['W', 'X', 'Y', 'Z'])

In [ ]:
# Dataframes 1 #df.head(),columns(), index(), info(), describe()

df['X']                                       # columns are a single series.
df['New'] = df['X'] + df['Y']
df.drop("New", axis = 1, inplace = False)     # doesnot delete row/column unless specified by inplace = True.     
df.shape                                      # 5x5
df.loc['A']                                   # not only columns but also rows are a single series.
df.iloc[2]                                    # location based index to return rows
df.loc['B', 'Y']                              # row,column
df.loc[['A', 'B'], ['W', 'X']]                # subset of data

In [ ]:
# Dataframes 2 - conditional selection

df[df>0]                                      # returns only +ve value
df[df['W']>0]                                 # +ve value for a particular column
df[(df['W'] >0) & (df['Y']>0)]                # multiple conditions. or = pipe

# Modifying index
df.reset_index(inplace = False)               # inplace = True to change the original index
newindex = " CA MN NY WY OR".split()
df['City'] = newindex                         # changing column into index, 
df.set_index('City', inplace = False)

In [ ]:
# Dataframes 3 - multi index and hierarchy

In [ ]:
# Missing values.

d = {'A' :[1, np.nan, 2], 'B' :[3, np.nan, 4], 'C' :[5, 3, 6]}
df = pd.DataFrame(d)
df.dropna()
df.dropna(axis = 1)                            # drops any rows or columns with null value. 0 = rows and 1 = column
df.dropna(thresh = 2)                          # return if 2 non-nan values
df.fillna(value = "Fill")                      # filling whatever you want
df.fillna(value = df.mean())                   #  mean value

In [ ]:
# Group By

data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
by_company = df.groupby("Company")                # company object
by_company.sum()                                  # ignore strings and performs operation on int     
by_company.mean()                                 # max, min, count, etc
by_company.std()
by_company.sum().loc['FB']                        # sum of particular row
df.groupby("Company").sum().loc['FB']             # one-liner
df.groupby('Company').describe()

In [ ]:
# Merging, joining, & Concatenating

pd.concat([df1, df2, df3, axis = 0 or 1])               # make sure the dimensions are equal
pd.merge([df1, df2, df3, how = 'inner', on = 'key'])    # similar to sql joins
df1.join(df2)                                           # joining without a similar index

In [ ]:
# Operations

df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df['col2'].unique()                            # returns numpy array of unique num
df['col2'].nunique()                           # num of unique values
df['col2'].value_counts()                      # counting repetitions
df['col3'].apply(len)                          # .apply() is powerful method that allows us to operate using func.
df['col1'].apply(lambda x: x*2)
df.sort_values(by= 'col3')
df.isnull()                                    # finding null values
df.pivot_table()                               # learn when req

In [ ]:
# Data input and output - CSV and EXCEL for now (can handle more files)

df = pd.read_csv("name")
df = pd.read_excel("name.xlsx", sheetname = 'Sheet1')       # only imports value not formulas and macros.
df.to_excel('outputname.xlsx', sheet_name ='newsheet')      # writing a df to excel